<ion-view title="Menu" id="page7" style="background-color: rgb(33, 4, 4);">
  <ion-content padding="true" class="has-header">
    <h4 id="menu2-heading3" style="color: rgb(237, 237, 237); text-align: center;">TheCradle.IO</h4>
    <div id="menu2-button-bar1" class="button-bar"></div>
    <button id="menu2-button12" class="button button-positive button-block">News Feed</button>
    <a ui-sref="kanbanBoards()" id="menu2-button13" class="button button-positive button-block">Kanban Boards</a>
    <a ui-sref="teamChat()" id="menu2-button14" class="button button-positive button-block">Team Chat</a>
    <a ui-sref="notesApp()" id="menu2-button15" class="button button-positive button-block">Notes App</a>
    <a ui-sref="businessPlans()" id="menu2-button16" class="button button-positive button-block">Business Plans</a>
    <div id="menu2-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>