<ion-view title="News Feed" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <div id="custom-html-2o" custom-code="true">
      <!-- Place <div> tag where you want the feed to appear -->
      <!-- Place <div> tag where you want the feed to appear -->
      <div id="curator-feed-default">
        <a href="https://curator.io" target="_blank" class="crt-logo crt-tag"></a>
      </div>
      <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
      <script type="text/javascript">
        // curator-feed-default
                                    (function(){
                                        var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
                                        i.src = "https://cdn.curator.io/published/698fd0dd-8419-426c-a81c-fb72af2e.js";
                                        e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
                                    })();
      </script>
    </div>
  </ion-content>
</ion-view>